* {
  /* 所有垂直排列對上 */
  vertical-align: top;
  font-family: 微軟正黑體;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.keyboard {
  /* 左右 上下 擴散 */
  box-shadow: 0px 0px 40px -5px rgb(0, 0, 0, 0.4);
  display: inline-block;
  margin-bottom: 30px;
}
.pianokey {
  /* 並列 */
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.white {
  width: 44px;
  height: 300px;
  border: solid 1px rgb(233, 228, 228);
  transform: translate(-3px, -3px);
  transition: 0.1s;
}
.white.playing {
  background-color: rgb(190, 187, 187);
  transform: translate(0px, 0px);
}

.black.playing {
  background-color: rgb(100, 98, 98);
  transform: translate(0px, 0px);
}
.white:hover {
  transform: translate(0px, 0px);
  background-color: rgb(190, 187, 187);
}
.black {
  position: absolute;
  top: 0px;
  width: 22px;
  height: 140px;
  border: solid 1px rgb(8, 8, 8);
  background-color: black;
  margin-left: -11px;
  margin-right: -11px;
  z-index: 20;
  transform: translate(-3px, -3px);
}
.black:hover {
  transform: translate(0px, 0px);
  background-color: rgb(83, 83, 83);
}
h2 {
  margin-bottom: 30px;
}
button {
  background-color: transparent;
  border: none;
  border: solid 1px;
  /* 文字內距 */
  padding: 4px 12px;
  border-radius: 4px;
  transition: 0.5s 0.2s;
}
.notes_list li {
  display: inline-block;
  border-right: solid 1px;
  padding: 2px 5px;
  cursor: pointer;
  transition: 0.3s;
}
.notes_list li:hover {
  background-color: rgb(192, 189, 189);
}
.notes_list .time {
  font-size: 8px;
  opacity: 0.3;
}
.notes_list .num {
  font-size: 16px;
}
.notes_list .playing {
  background-color: rgb(192, 189, 189);
}
button:hover {
  background-color: #444;
  color: aliceblue;
  cursor: pointer;
}
.center-box {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
